#gradient
{
    background-color: #CCD5AE;
    background: linear-gradient(100deg, #CCD5AE, #E9EDC9, #FEFAE0, #FAEDCD, #D4A373);
    background-size: 1000% 100%;

    -webkit-animation: Animation 120s ease-in-out infinite;
    -moz-animation: Animation 120s ease-in-out infinite;
    animation: Animation 120s ease-in-out infinite;
}

@-webkit-keyframes Animation {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 0%; }
    100% { background-position: 0% 0%; }
}
@-moz-keyframes Animation {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 0%; }
    100% { background-position: 0% 0%; }
}
@keyframes Animation { 
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 0%; }
    100% { background-position: 0% 0%; }
}
